/* ---------- Fonts ---------- */

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}

/* ---------- Global ---------- */

html {
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

	background-color: #262626;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;

	justify-content: center;
	align-items: center;
}

#question {
	width: 30px;
	height: 30px;

	filter: invert(100);
	position: absolute;

	right: 20px;
	bottom: 20px;
}

#label {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Chela one';
	font-size: 9em;
	color: #88fcc4;
	position: relative;
}

#worldmap {
	width: 100px;
	height: 100px;

	filter: invert(100);
}
#worldmap:hover {
	z-index: 10;

	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

#twitter {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;

	border: "1px solid #c8c8c8";
}

#twitmark {
	width: 100px;
	height: 100px;

	filter: invert(100);
}
#twitmark:hover {
	z-index: 10;

	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

.tweet:hover {
	z-index: 10;

	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

#articles {
	display: none;
	opacity: 0;
	overflow: auto;

	flex-direction: column;

	margin: 20px;
	padding: 20px;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}

#articles .article {
	display: flex;
	flex-direction: row;

	padding: 10px;

	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
}

#articles .article .thumbnail {
	margin-right: 10px;
}

#articles .article .content {
	width: 100%;
	flex-direction: column;
}

#articles .article .copytoclip {
	cursor: pointer;
	background-color: #c8c8c8;
	border-radius: 14px;
	width: 80px;
	font-weight: 600;
	padding: 5px;
	float: right;
}

#articles .article .copytoclip:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}


button {
	display: inline-block;
	margin: 6px;
	padding: 7px 12px;
	min-width: 120px;

	color: lightslategray;
	background-color: linen;
	border: 0;
	border-radius: 20px;

	font-size: 17px;
	text-decoration: none;
}

button:hover, button:active {
	color:#fff;
	background:#6e80a0;
	cursor: pointer;
}
