/* ---------- Fonts ---------- */

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}

/* ---------- Global ---------- */

html {
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

	/* Gradient background from #f7cac9 to #92a8d1 */ 
	background: -webkit-linear-gradient(top, #92a8d1, #f7cac9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #92a8d1, #f7cac9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottm, #92a8d1, #f7cac9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #92a8d1, #f7cac9); /* Standard syntax (must be last) */
	background-attachment: fixed;
}

body {
	display: flex;

	overflow: auto;

	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.twitter-result-box {
	display: flex;
	opacity: 0;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 20px;
	padding: 20px;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}

.article-box {
	display: flex;
	opacity: 0;
	overflow: auto;

	flex-direction: column;

	margin: 20px;
	padding: 20px;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}

.article-box .article {
	display: flex;
	flex-direction: row;

	padding: 10px;

	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
}

.article-box .article .thumbnail {
	margin-right: 10px;
}

.article-box .article .content {
	display: flex;
	flex-direction: column;
}

button {
	display: inline-block;
	margin: 6px;
	padding: 7px 12px;
	min-width: 120px;

	color: lightslategray;
	background-color: linen;
	border: 0;
	border-radius: 20px;

	font-size: 17px;
	text-decoration: none;
}

button:hover, button:active {
	color:#fff;
	background:#6e80a0;
	cursor: pointer;
}
